.input{
  &__register{
      padding: 0.7rem 1rem;
      width: 80%;
      margin: 1rem;
      font-size: 1.2rem;
      
  }
  &__login{
    padding: 0.7rem 1rem;
    width: 80%;
    margin: 1rem;
    font-size: 1.2rem;
  }

}