@import "../abstracts/mixins.scss";
@import "../base/colors.scss";

.movieList {
    @include flex-row-centered-column-center;
    flex-wrap: wrap;
    background-color: $main-dark;
    opacity: 0.9;
}
