//GLOBALS COLORS
$main-white: rgb(255, 255, 255);
$main-dark: rgb(0, 0, 0);
$main-red: rgb(211, 47, 47);
$main-green: rgb(39, 174, 96);
$main-blue: rgb(52, 152, 219);
$main-yellow: rgba(241, 196, 15, 1);
//SHADOW
$main-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$main-white-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
$second-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
//SNACKBAR COLORS
$snackbar-red: rgb(211, 47, 47);
$snackbar-orange: rgb(237, 108, 2);
$snackbar-blue: rgb(2, 136, 209);
$snackbar-green: rgb(46, 125, 50);
$snackbar-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px